@media only screen and (min-device-width:1px) and (max-device-width:479px) {
  html {
    --card-size: 100%;
  }
}
@media only screen and (min-device-width:480px) and (max-device-width:1023px) {
  html {
    --card-size: 50%;
  }
}
@media only screen and (min-device-width:1024px) {
  html {
    --card-size: 33%;
  }
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 var(--card-size);
  background: #999;
  font-family: sans-serif;
}

.c-container {
  width: 100%;
  max-width: calc(var(--card-size) - 10px);
  margin: 5px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
}

.c-header {
  text-align: center;
  font-size: 24px;
  border-bottom: solid 1px #bbb;
}

.c-line {
  padding: 5px;
  display: flex;
  align-items: center;
}

.c-line-item {
  width: 100%;
}

.c-line--route {
  max-width: calc(100% - 104px);
  margin: 0 5px;
}

.c-line--number {
  max-width: 40px;
  border-radius: 25px;
  padding: 2px;
  color: #fff;
  text-align: center;
}

.c-line--time {
  max-width: 40px;
}

.c-line--delay {
  color: #f00;
}

.niederflurbus {
  background-color: #0a0;
}

.bus {
  background-color: #00a;
}

.s-bahn {
  background-color: #a00;
}
